
# Ignore media files
*.wav
*.mp3
*.mp4
*.webm

# Ignore user-specific files
/.env

# Ignore any other project-specific files or directories
/env/
/labs/
__pycache__/
.ipynb_checkpoints/
/.mypy_cache/
/.pytest_cache/
media/
private/
images/
data/
archive/